<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never" />
    <title>Vue.js Poster Shop</title>
    <link rel="icon" href="public/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="public/style.css">
</head>
<body>
<div id="app">
    <div class="header">
        <h1>Vue.js Poster Store</h1>
        <form class="searchBar" v-on:submit.prevent="onSubmit(10)">
            <input type="text" v-model="search" placeholder="Search title.."/>
            <input type="submit" value="Search" class="btn">
        </form>
    </div>
    <div class="main">
        <div id="products">
            <div id="product-list">
            <ul class="list">
            <li v-if="!loading && filteredProducts.length > 0" class="product">{{ numberSearchResultsFound }}</li>
            <li class="product" v-else-if="loading">Loading..</li>
            <li class="product" v-for="product in filteredProducts">
                <div>
                    <div class=product-image"><img :src="product.link" width="100%" /></div>
                </div>
                <div class="product-title">
                    <h4 class="product-title">{{ product.title }}</h4>
                    <p>{{ price |currency}}</p>
                    <button class="btn add-to-cart" @click="addItem(product)">Add to cart</button>
                </div>
            </li>
            </ul>
            </div>
            <div id="product-list-bottom"></div>
        </div>

        <div class="cart">
            <h2>Shopping Cart</h2>
            <div>
                <transition name="fade">
                    <div v-if="cart.length>0"> Total: {{ calculateTotal|currency }}</div>
                </transition>
                <transition name="fade">
                    <div v-if="cart.length===0">No items in cart</div>
                </transition>


                    <transition-group name="fade" tag="ul">
                <li class="cart-item item" v-for="(item,index) in cart" v-bind:key="item.id">
                    <div class="item-id">{{ item.id | productId }}</div>
                    <div class="item-title">{{ item.title }}</div>
                    <div class="item-qty">{{ item.price | currency }} * {{ item.quantity }}</div>
                    <button class="btn increment-quantity" @click="increaseQuantity(index)">+</button>
                    <button class="btn decrement-quantity" @click="decreaseQuantity(index)">-</button>
                </li>
                    </transition-group>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="reload/reload.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.0.4/fuse.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
<script src="node_modules/scrollmonitor/scrollMonitor.js"></script>
<script type="text/javascript" src="public/script.js"></script>

</body>
</html>
